@{
    ViewData["Title"] = "Empresa";
}

<div class="text-center">
    <h1 class="display-4">Empresa</h1>
    <p style="margin-bottom:300px">Learn about <a href="https://docs.microsoft.com/aspnet/core" target="_blank">building Web apps with ASP.NET Core</a>.</p>
</div>


