@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="col-md-6" style="margin:auto">
        <div class="h-100 p-5 bg-light border rounded-3">
          <h2>Aplicação Web</h2>
          <p>Aprenda a criar, modificar e aprimorar uma Aplicação Web</p>
          <button class="btn btn-outline-secondary" type="button" style="background-color:green"><font color="#FFFFFF">Comceçar</font></button>
        </div>
      </div>
    <p style="margin-bottom:300px">Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
